<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steam Sale Page</title>
    <link rel="stylesheet" href="/stylesheets/Game_classify/game_classify.css">
</head>
<body>
    <div class="container">
        <table class="table">
            <tbody>
                <tr>
                    <th>图片</th>
                    <th>游戏名称</th>
                    <th>折扣价</th>
                </tr>
                <!-- 假设search数据已经通过某种方式传递给此页面 -->
                <%search.forEach(function(item){ %>
                    <tr>
                        <td>
                            <img src="<%= item.game_image %>" alt="Assassin's Creed Origins">
                        </td>
                        <td>
                            <div>
                                <div class="game-title">
                                    <%= item.game_name %>
                                </div>
                                <div class="release-date">
                                    <%= item.shelf_time %>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div>
                                <span class="discount">
                                    - <%= Math.round(item.discount * 100) + '%' %>
                                </span>
                                <span class="price"><%= item.last_price %></span>
                            </div>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>