<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户表</title>
    <link rel="stylesheet" href="/stylesheets/user_order.css">
    <link rel="stylesheet" href="/stylesheets/refund_slip.css">
    <script src="/javascripts/user_manage_s.js" defer></script>
</head>

<body>
    <div class="container">
        <h1>用户详情</h1>
        <% orders.forEach(order=> { %>
            <div class="purchase-item">
                <div class="header">
                    <div class="status-label <%= getStatusClass(order.flag) %>">
                        <%= getStatusText(order.flag) %>
                    </div>
                    <% if (order.flag==='1' ) { %>
                        <button class="cancel-refund-button" data-order-id="<%= order.order_id %>">允许退款</button>
                        <% } else { %>                                                                                                     
                            <button class="refund-button" data-order-id="<%= order.order_id %>">退款</button>
                            <% } %>
                </div>
                <div class="purchase-details">
                    <img src="<%= order.game_image %>" alt="<%= order.game_name %>">
                    <div class="info">
                        <h3>
                            <%= order.game_name %>
                        </h3>
                        <p>购买时间：<%= order.commit_time.toISOString().split('T')[0] %>
                        </p>
                    </div>
                    <div class="purchase-price">¥<%= order.now_price %>
                    </div>
                </div>
            </div>
            <% }) %>
    </div>
</body>

</html>